{#
/**
 * @file
 * Theme override to display a cta homepage node.
 *
 * Available variables:
 * - cta_image_url: The image style url from "field_cta_image"
 * - cta_url: The formatted url from "field_cta_link".
 * - cta_non_homepage_image_url: The image style url from "field_cta_non_homepage_image"
 *
 * @see template_preprocess_node()
 */
#}


<div class="cta-homepage">

    {#Homepage CTA#}
    {% if cta_image_url %}

        <div class="cta-homepage__image">
            <img src="{{ cta_image_url }}" alt="{{ node.field_cta_image.alt.value }}">
        </div>

        {% if node.body.value or node.field_cta_link.title %}
            <div class="cta-homepage__content-wrapper">
                <div class="cta-homepage__content">
                    {% if node.field_cta_title.value %}
                        <div class="cta-homepage__title">
                            <h3>{{ node.field_cta_title.value }}</h3>
                            <div class="center">
                                <span class="cta-homepage__title__underline"></span>
                            </div>
                        </div>
                        <div class="cta-homepage__body">
                            <p>{{ node.field_cta_body.value }}</p>
                        </div>
                    {% endif %}

                    {% if cta_url and node.field_cta_link.title %}
                        <div class="cta-homepage__link">
                            <a href="{{ cta_url }}" class="button button--medium btn btn-primary"><span>{{ node.field_cta_link.title  }}</span></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

    {% elseif cta_non_homepage_image_url %}

        <div class="cta-homepage__image">
            <img src="{{ cta_non_homepage_image_url }}" alt="{{ node.field_cta_non_homepage_image.alt.value }}">
        </div>

    {% endif %}

</div>