{#
/**
 * @file
 * Theme override to present all products followed by user on user page.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - products: A list of products being followed
 *   - product_id: Product id
 *   - product_link: Link to product followed
 *   - unfollow_form: route to unfollow form
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_update_notifier_user
 */
#}

{#
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
#}

{{ attach_library('update_notifier/update_notifier.styling') }}

<div class="container user_page">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="user_page__title">{{ 'User Information'|t }}</h1>
      <table>
        <tr>
          <td>{{ 'Username: '|t }}</td>
          <td>{{ user.account.name }}</td>
        </tr>
        <tr>
          <td>{{ elements.member_for }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <table>
        <thead>{{ 'Products Being Followed'|t }}</thead>
        <tbody>
        <tr>
          <th>{{ 'Product Followed'|t }}</th>
          <th>{{ 'Edit Notifications'|t }}</th>
          <th>{{ 'Unfollow'|t }}</th>
        </tr>
        {% for product in products %}
          <tr>
            <td>{{ product.product_link }}</td>
            <td>
              {#
              <a class="btn btn-primary" href="{{ path(edit_notifications_form, {'user': user.id, 'product': product.product_id}) }}">
                {{ 'Edit Notifications'|t }}
              </a>
              #}
              <a class="btn btn-primary" href="#">
                {{ 'Edit Notifications'|t }}
              </a>
            </td>
            <td>
              <a class="btn btn-primary" href="{{ path(product.unfollow_form, {'user': user.id, 'product': product.product_id}) }}">
                {{ 'Unfollow'|t }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
